// =========================================================
// hidden
// 非表示化します
// 使用対象 = 読み上げは有効にしておきたいが、画面には表示したくない要素
// =========================================================
@mixin hidden {
  clip: rect(0 0 0 0);
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
