/* ==========================================================================
   _Article Part
   ========================================================================== */

._ArticlePart {
  $_block: '._ArticlePart';
  margin-top: 0;
  margin-bottom: 0;

  &._Popular,
  &._New {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
