/* ==========================================================================
   Footer
   ========================================================================== */

@use "../setting/variable" as var;
@use "../mixin/mq" as mq;

.PageFooter {
  $_block: '.PageFooter';
  background-color: var.$footerBackground;
  padding-top: 60px;
  padding-bottom: 20px;
  // NOTE: ここまでLayout

  > .inner {
    max-width: calc( 100% - 40px );
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
    // NOTE: ここまでLayout
  }

  .FooterInformation {
    .FooterInformation__logo {
      font-size: 2.4rem;
      text-align: center;
      margin: 12px 0;

      > a {
        color: var.$footerColor;
      }
    }
  }

  .FooterBottom {
    display: flex;
    gap: 56px;
    justify-content: center;
    margin-top: 60px;

    .FooterBottom__description {
      max-width: 332px;
      width: calc( 100% / 3 );

      > h4 {
        font-size: 1.6rem;
        color: var.$footerColor;
        font-weight: 500;
        border-bottom: 1px solid #474747;
        padding-bottom: 10px;
      }

      p {
        color: #BCB8B8;
        font-size: 1.4rem;
        line-height: 2;

        > a:hover {
          opacity: var.$opacity;
        }
      }
    }

    .FooterBottom__category {
      max-width: 332px;
      width: calc( 100% / 3 );

      > h4 {
        font-size: 1.6rem;
        color: var.$footerColor;
        font-weight: 500;
        border-bottom: 1px solid #474747;
        padding-bottom: 10px;
      }

      .FooterBottom__categoryList {
        > li {
          > a {
            color: #BCB8B8;
            font-size: 1.4rem;
            line-height: 2;

            &:hover {
              opacity: var.$opacity;
            }
          }
        }
      }
    }

    .FooterBottom__contact {
      max-width: 332px;
      width: calc( 100% / 3 );

      > h4 {
        font-size: 1.6rem;
        color: var.$footerColor;
        font-weight: 500;
        border-bottom: 1px solid #474747;
        padding-bottom: 10px;
      }

      .FooterBottom__contactButton {
        max-width: 332px;
        background-color: #fff;
        margin-top: 20px;
        text-align: center;
        border-radius: 10px;

        > a {
          display: block;
          color: #333;
          font-size: 1.4rem;
          line-height: 1.6;
          padding: 15px;
          font-weight: 700;
          transition: box-shadow .25s;

          &:hover {
            opacity: var.$opacity;
          }
        }
      }
    }
  }

  .FooterCopyright {
    text-align: center;
    font-size: 1.2rem;
    padding-top: 30px;
    margin-top: 70px;
    border-top: 1px solid #474747;

    > small {
      color: var.$footerColor;
      font-size: 1.2rem;

      > a {
        color: var.$footerColor;
      }
    }
  }
}


/* SP
========================================================================== */
@include mq.mq('sp') {
  .PageFooter {
    $_block: '.PageFooter';
    padding-top: 40px;

    .FooterBottom {
      flex-direction: column;
      gap: 30px;
      margin-top: 40px;

      .FooterBottom__description {
        width: 100%;
        max-width: 727px;
      }

      .FooterBottom__category {
        width: 100%;
        max-width: 727px;
      }

      .FooterBottom__contact {
        width: 100%;
        max-width: 727px;

        .FooterBottom__contactButton {
          max-width: 600px;
          margin: 30px auto 0;

          > a:active {
            opacity: var.$opacity;
          }
        }
      }
    }
  }
}
