/* ==========================================================================
   Header
   ========================================================================== */

@use "../setting/variable" as var;
@use "../mixin/mq" as mq;

.PageHeader {
  $_block: '.PageHeader';
  background-color: var.$headerBackground;
  padding-top: 30px;

  > .inner {
    max-width: calc( 100% - 40px );
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
  }

  .HeaderPageId {
    text-align: center;
    margin: 16px 0;
    font-size: 3rem;
    font-weight: bold;

    > a {
      color: #000;
    }
  }

  .PageHeader__catchcopy {
    margin: 0;
    text-align: center;
  }
}


/* SP
========================================================================== */
@include mq.mq('sp') {
  .PageHeader {
    $_block: '.PageHeader';
    padding-top: 26px;

    .HeaderPageId {
      margin: 18px 0;
      font-size: 2.6rem;
    }

    #{$_block}__catchcopy {
      margin-top: 8px;
      font-size: 1.2rem;
      line-height: 1.3;
    }
  }
}
