/* ==========================================================================
   Main
   ========================================================================== */

@use "../setting/variable" as var;
@use "../mixin/mq" as mq;

.PageContent {
  $_block: '.PageContent';
  max-width: 1120px;
  margin-right: auto;
  margin-left: auto;
  padding: 40px 40px 100px 40px;


  > .inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.MainContent {
  width: 64%;
}

/* Responsive (768pxから960pxまでのレイアウト調整)
========================================================================== */
@media screen and (max-width: 960px) {
  .MainContent {
    width: 100%;
  }
}


/* SP
========================================================================== */
@include mq.mq('sp') {
  .PageContent {
    $_block: '.PageContent';
    padding: 30px 8px 50px;
  }
}
