/* ==========================================================================
   Sidebar
   ========================================================================== */

.Sidebar {
  $_block: '.Sidebar';
  width: 28%;
  margin-top: 40px;
  margin-left: 8%;
}