/* ==========================================================================
   Sidebar
   ========================================================================== */

.Sidebar {
  $_block: '.Sidebar';
  width: 31%;
  margin-top: 40px;
  margin-left: 5%;
}


/* Responsive (768pxから960pxまでのレイアウト調整)
========================================================================== */
@media screen and (max-width: 960px) {
  .Sidebar {
    width: 100%;
    margin-left: 0;
  }
}
