/* ==========================================================================
   Archive
   ========================================================================== */

@use "../../setting/variable" as var;

.Archive {
  $_block: '.Archive';
  background-color: var.$colorBackground;
  margin-top: 80px;
  padding: 4px 25px 20px;
  border-radius: 10px;

  .Archive__title {
    padding: 0 10px;
    font-size: 2rem;
  }

  .Archive__list {
    padding: 0 5px;
    font-size: 1.5rem;
    line-height: 1;

    > li {
      margin: 0;
      padding: 12px 20px;
      border-bottom: 1px solid #C7C7C7;

      a {
        color: #4A4A4A;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}