/* ==========================================================================
   Article
   ========================================================================== */


._ArticleItem {
  $_block: '._ArticleItem';
  background-color: #fff;
  border-radius: 10px;

  &:hover {
    opacity: 0.8;
  }

  &:not(:first-child) {
    margin-top: 32px;
  }

  > a {
    display: flex;
    align-items: center;
  }

  ._ArticleItem__meta {
    order: 2;
    margin: 0 25px;

    ._ArticleItem__title {
      color: #333;
      font-size: 1.8rem;
      line-height: 2;
      margin: 0;
    }
  }

  ._ArticleItem__thumbnail {
    order: 1;
    height: 150px;

    > img {
      max-width: 200px;
      border-radius: 10px 0 0 10px;
    }
  }
}


/* SP（480pxまでのレイアウト調整）
========================================================================== */
@media screen and (max-width: 480px) {
  ._ArticleItem {
    $_block: '._ArticleItem';

    &:not(:first-child) {
      margin-top: 30px;
    }

    > a {
      flex-direction: column;
    }

    #{$_block}__meta {
      margin: 15px 20px;

      #{$_block}__title {
        line-height: 1.4;
      }

      > p {
        line-height: 1.6;
      }
    }

    #{$_block}__thumbnail {
      width: 100%;
      text-align: center;

      > img {
        width: 100%;
        max-width: 767px;
        border-radius: 10px 10px 0 0;
      }
    }
  }
}
