/* ==========================================================================
   Article
   ========================================================================== */

._ArticleItem {
  $_block: '._ArticleItem';
  background-color: #fff;
  border-radius: 10px;

  &:hover {
    opacity: 0.8;
  }

  &:not(:first-child) {
    margin-top: 32px;
  }

  > a {
    display: flex;
    align-items: center;
  }

  ._ArticleItem__meta {
    order: 2;
    margin: 0 25px;

    ._ArticleItem__title {
      color: #333;
      font-size: 1.8rem;
      line-height: 2;
      margin: 0;
    }

    p {
      color: #4A4A4A;
      font-size: 1.4rem;
      line-height: 1.7;
    }
  }

  ._ArticleItem__thumbnail {
    order: 1;
  }
}