/* ==========================================================================
   Article
   ========================================================================== */

// NOTE: WordPressプラグイン「AIOSEO」に上書きするスタイル
.aioseo-breadcrumbs {
  $_block: '.aioseo-breadcrumbs';
  padding: 10px 0;
  font-size: 1.4rem;
}
