/* ==========================================================================
   Element Reset
   ========================================================================== */

// NOTE: normalize.cssでresetしきれなかった要素にスタイルを当てる

@use "../../setting/variable" as var;

html {
  font-size: 62.5%;
}

a {
  color: var.$anchor;
  text-decoration: none;
}

a:visited {
  color: var.$anchorVisited;
}

p {
  font-size: var.$pcNaturalFontSize;
  line-height: 1.6;
}

ul {
  list-style: none;
  padding: 0;
}

figure {
  margin: 0;
}