/* ==========================================================================
   Key Visual
   ========================================================================== */

@use "../../setting/variable" as var;
@use "../../mixin/mq" as mq;

._PickupPost {
  $_block: '._PickupPost';
  min-width: 676px;
  background-color: #fff;
  border-radius: 10px;

  &:hover {
    opacity: 0.8;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: space-between;

    #{$_block}__meta {
      order: 2;
      line-height: 1.6;
      width: 45%;
      margin: 0 24px;

      #{$_block}__title {
        margin: 0;
        color: #333;
        font-size: 2.4rem;
      }

      #{$_block}__description {
        margin: 20px 0;
        font-size: 1.4rem;
        line-height: 1.6;
        color: #4A4A4A;
      }

      #{$_block}__button {
        font-size: 1.4rem;
        color: #7B7B7B;
        text-align: center;
        margin: 0 20px;
        padding-top: 8px;
        padding-bottom: 8px;
        border: 1px solid #7B7B7B;
        border-radius: 24px;

        &:hover {
          text-decoration: underline solid #7B7B7B 2px;
        }
      }
    }

    #{$_block}__thumbnail {
      order: 1;
      width: 55%;

      img {
        width: 100%;
        border-radius: 10px 0 0 10px;
      }
    }
  }
}


/* SP
========================================================================== */
@include mq.mq('sp') {
  ._PickupPost {
    $_block: '._PickupPost';
    min-width: 290px;

    a {
      flex-direction: column;

      #{$_block}__meta {
        width: 90%;
        margin: 0;
        padding: 20px 0;
        line-height: 1.4;

        #{$_block}__title {
          font-size: 1.8rem;
        }

        #{$_block}__button {
          margin: 0;

          &:active {
            text-decoration: underline solid #7B7B7B 2px;
          }
        }
      }

      #{$_block}__thumbnail {
        width: 100%;

        img {
          height: 200px;
          border-radius: 10px 10px 0 0;
        }
      }
    }
  }
}
