/* ==========================================================================
   Menu
   ========================================================================== */

@use "../../setting/variable" as var;
@use "../../mixin/mq" as mq;

._Menu {
  $_block: '._Menu';
  margin-top: 80px;

  ._Menu__list {
    display: flex;
    flex-wrap: wrap;

    > li {
      width: calc(( 100% - 25px ) / 2);
      margin: 0 25px 25px 0;
      background-color: #2C3036;
      text-align: center;
      border-radius: 10px;

      &:hover {
        opacity: var.$opacity;
      }

      &:nth-child(2n) {
        margin-right: 0;
      }

      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 122px;
        font-size: 1.5rem;
        line-height: 1;
        color: #fff;

        > i {
          display: block;
          margin-bottom: 10px;
          font-size: 24px;
        }
      }
    }
  }
}


/* SP
========================================================================== */
@include mq.mq('sp') {
  ._Menu {
    $_block: '._Menu';
    margin-top: 40px;
  }
}
