/* ==========================================================================
   Page navi
   ========================================================================== */

@use "../../setting/variable" as var;
@use "../../mixin/mq" as mq;

// NOTE: WordPressプラグイン「WP-PageNavi」に上書きするスタイル
.wp-pagenavi {
  $_block: '.wp-pagenavi';
  margin-top: 70px;
  margin-bottom: 70px;
  max-width: 786px;

  .current {
    font-size: 1.4rem;
    color: #fff;
    background-color: var.$paginationBackgroundCurrent;
    padding: 16px 18px;
    margin-left: 14px;
    font-weight: bold;
  }

  a {
    margin-left: 14px;
    padding: 16px 18px;
    background-color: var.$paginationBackground;
    color: #000;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      background-color: #838383;
      color: #fff;
    }
  }
}


/* SP
========================================================================== */
@include mq.mq('sp') {
  .wp-pagenavi {
    $_block: '.wp-pagenavi';
    text-align: center;
    max-width: 737px;
    margin-bottom: 30px;
  }
}
