/* ==========================================================================
   Profile
   ========================================================================== */

@use "../../setting/variable" as var;
@use "../../mixin/mq" as mq;

.Profile {
  $_block: '.Profile';
  background-color: var.$colorBackground;
  margin-top: 19px;
  padding: 4px 4px 20px;
  border-radius: 10px;

  &.-contact {
    margin-top: 20px;
  }

  #{$_block}__img {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 20px;

    #{$_block}__author {
      margin: 12px 0 0;
      font-size: 2rem;
    }

    img {
      background-color: #C7C7C7;
      border-radius: 50%;
    }
  }

  #{$_block}__job {
    text-align: center;
    margin: 5px 0 0;
    color: #4A4A4A;
    font-size: 1.2rem;
    line-height: 1;
  }

  #{$_block}__text {
    margin: 25px 0 0;
    padding: 0 15px;
    font-size: 1.4rem;
    line-height: 1.7;
  }

  #{$_block}__detail {
    text-align: right;
    padding: 6px 10px;

    a {
      font-size: 1.5rem;
      line-height: 1.5;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &.-author {
    background-color: transparent;
    padding: 0;

    #{$_block}Box {
      display: flex;
      justify-content: space-between;
      border: 1px solid #C7C7C7;
      border-radius: 10px;
      padding: 20px 10px 10px;

      &__author {
        width: 140px;
        text-align: center;

        img {
          background-color: #C7C7C7;
          border-radius: 50%;
        }

        #{$_block}__author {
          font-size: 1.7rem;
          line-height: 1;
          font-weight: bold;
        }
      }

      &__text {
        width: calc(100% - 150px);
        border-left: 1px solid #C7C7C7;
        margin: 0;
        padding-left: 10px;

        #{$_block}__text {
          margin: 0;
        }
      }
    }
  }
}


/* Responsive (768pxから960pxまでのレイアウト調整)
========================================================================== */
@media screen and (max-width: 960px) {
  .Profile {
    $_block: '.Profile';

    .Profile__detail {
      text-align: center;
    }
  }
}


/* SP
========================================================================== */
@include mq.mq('sp') {
  .Profile {
    $_block: '.Profile';
    margin-top: 30px;


    #{$_block}__detail {
      padding: 6px;
      text-align: right;

      > a {
        font-size: 1.4rem;
        line-height: 1.4;
      }
    }
  }
}
