/* ==========================================================================
   Related Article
   ========================================================================== */

@use "../../setting/variable" as var;

._RelatedArticle {
  $_block: '._RelatedArticle';
  margin-top: 80px;

  &__list {
    a {
      font-size: 1.6rem;
      line-height: 3;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
