/* ==========================================================================
   Hidden
   ========================================================================== */


/* PC
   ========================================================================== */
.u-hidden-pc {
  @include mq-up("pc") {
    display: none;
  }
}

/* Tablet
  ========================================================================== */
.u-hidden-tab {
  @include mq-up("tab-only") {
    display: none;
  }
}

/* SP
  ========================================================================== */
.u-hidden-sp {
  @include mq-up("sp") {
    display: none;
  }
}