/* ==========================================================================
   Hidden
   ========================================================================== */

@use "../../mixin/mq" as mq;

/* PC
  ========================================================================== */
.u-hidden-pc {
  @include mq.mq("pc") {
    display: none;
  }
}

/* Tablet
  ========================================================================== */
.u-hidden-tab {
  @include mq.mq("tab") {
    display: none;
  }
}

/* SP
  ========================================================================== */
.u-hidden-sp {
  @include mq.mq("sp") {
    display: none;
  }
}
