/* ==========================================================================
   Space
   ========================================================================== */

/* Margin
   ========================================================================== */
.u-m-auto {
  margin: auto;
}

.u-mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.u-my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.u-mt-auto {
  margin-top: auto;
}

.u-mr-auto {
  margin-right: auto;
}

.u-mb-auto {
  margin-bottom: auto;
}

.u-ml-auto {
  margin-left: auto;
}

/* Padding
  ========================================================================== */
.u-p-0 {
  padding: 0;
}

.u-px-0 {
  padding-right: 0;
  padding-left: 0;
}

.u-py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-pt-0 {
  padding-top: 0;
}

.u-pr-0 {
  padding-right: 0;
}

.u-pb-0 {
  padding-bottom: 0;
}

.u-pl-0 {
  padding-left: 0;
}